.yellow {
  background-color: greenyellow  !important;
  border: 3px solid orangered !important;
}
.yellow:hover{
    background-color: orangered!important;
    color: white;
}
.orange {
  background: orange !important;
  border: 3px solid rgb(249, 219, 165);
  color: rgb(112, 1, 1);
}
.green {
  background: greenyellow !important;
  border: 3px solid rgb(226, 252, 187);
  color: rgb(0, 130, 0);
}
