<section class="md:w-1/24 lg:w-1/24 max-md:invisible">
  <div
    title="Inicio"
    class="flex items-center place-self-center h-12 w-14"
    style="background-color: white"
  >
    <a routerLink="inicio" class="flex w-full h-full justify-center">
      <img
        src="../../../../assets/source/logo.png"
        title="Inicio"
        class="icon-image w-8 h-8 object-contain place-self-center"
      />
    </a>
  </div>
  <mat-nav-list>
    <mat-list-item *ngIf="isAdmin()" title="Tareas">
      <a routerLink="tareas" class="flex w-full h-full justify-center">
        <mat-icon>task</mat-icon>
      </a>
    </mat-list-item>
    <mat-list-item *ngIf="isAdmin()" title="Empleados">
      <a routerLink="empleados" class="flex w-full h-full justify-center">
        <mat-icon>person</mat-icon>
      </a>
    </mat-list-item>
    <mat-list-item *ngIf="isAdmin()" title="Habitaciones">
      <a routerLink="habitaciones" class="flex w-full h-full justify-center">
        <mat-icon>hotel</mat-icon>
      </a>
    </mat-list-item>
    <mat-list-item title="Calendario">
      <a routerLink="calendario" class="flex w-full h-full justify-center">
        <mat-icon>calendar_month</mat-icon>
      </a>
    </mat-list-item>
  </mat-nav-list>
  <!-- Este div se mostrará solo en viewports menores a md -->
</section>

<nav class="w-full flex items-between">
  <div
    class="flex items-center place-self-center h-12 w-14"
    style="background-color: white"
  >
    <a routerLink="inicio" class="flex w-full h-full justify-center">
      <img
        src="../../../../assets/source/logo.png"
        title="Inicio"
        class="icon-image w-8 h-8 object-contain place-self-center"
      />
    </a>
  </div>
  <div class="mx-auto place-self-center">
    <div>
      <app-clock></app-clock>
    </div>
  </div>

  <div class="md:hidden flex justify-center">
    <div class="flex space-x-4"> <!-- Utilizamos space-x para agregar un espacio horizontal entre los elementos -->
      <!-- Botones para navegación -->
      <button *ngIf="isAdmin()" routerLink="tareas" title="Tareas" class="button-style">
        <mat-icon>task</mat-icon>
      </button>
      <button *ngIf="isAdmin()" routerLink="empleados" title="Empleados" class="button-style">
        <mat-icon>person</mat-icon>
      </button>
      <button *ngIf="isAdmin()" routerLink="habitaciones" title="Habitaciones" class="button-style">
        <mat-icon>hotel</mat-icon>
      </button>
      <button routerLink="calendario" title="Calendario" class="button-style">
        <mat-icon>calendar_month</mat-icon>
      </button>
    </div>
  </div>
  

  <div class="place-self-center flex gap-2 mr-3 justify-center items-center">
    <button title="Mi perfil" routerLink="perfil" mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
    <button title="Salir" (click)="logOut()" aria-label="Cerrar sesion">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</nav>
