<div
  class="w-full mx-auto rounded  shadow-lg color text-white max-sm:w-full max-sm:px-3 md:p-10 md: w1/10"
>
  <!-- Encabezado -->
  <div class="mx-auto text-center mt-5">
    <img
    *ngIf="userData.urlImage"
    [src]="getPhoto()"
    class="imagen mx-auto mb-3 h-20"
  />
    <img
      *ngIf="userData.roleAdmin && !userData.urlImage"
      src="assets/images/profile/admin.png"
      class="imagen mx-auto mb-3 h-20"
    />
    <img
      *ngIf="!userData.roleAdmin && !userData.urlImage"
      src="assets/images/profile/user.png"
      class="imagen mx-auto mb-3 h-20"
    />

    <h1><strong>Datos Personales</strong></h1>
    <h3 class="text-gray-300">Staff de limpieza</h3>
    <div class="flex justify-around overflow-hidden w-1/4 max-sm:w-1/3 mx-auto">
      <button class="rounded-full bg-indigo-600 p-2 flex items-center content-center"><mat-icon>home</mat-icon></button>
      <button class="rounded-full bg-indigo-600 p-2 flex items-center content-center"><mat-icon>phone</mat-icon></button>
      <button class="rounded-full bg-indigo-600 p-2 flex items-center content-center"><mat-icon>email</mat-icon></button>
    </div>
  </div>
</div>
<div
  class="flex flex-col md:grid md:grid-cols-2 w-full mx-auto rounded overflow-hidden shadow-lg bg-white mt-1 py-3 text-wrap max-sm:w-full max-sm:px-3 md:px-10"
>
  <!-- Primer grupo de datos -->
  <div class="space-y-2 ml-10 mt-5">
    <div class="flex items-center">
      <mat-icon class="profile-icons">account_circle</mat-icon>
      <p><strong class="ml-2">Nombre:</strong> {{ userData.name }}</p>
    </div>

    <div class="flex items-center">
      <mat-icon class="profile-icons">lens</mat-icon>
      <p><strong class="ml-2">Apellido:</strong> {{ userData.surname }}</p>
    </div>

    <div class="flex items-center">
      <mat-icon class="profile-icons">fingerprint</mat-icon>
      <p><strong class="ml-2">DNI:</strong> {{ userData.dni }}</p>
    </div>

    <div class="flex items-center">
      <mat-icon class="profile-icons">email</mat-icon>
      <p class="text-wrap">
        <strong class="ml-2">Correo Electrónico:</strong> {{ userData.email }}
      </p>
    </div>
  </div>

  <!-- Segundo grupo de datos -->
  <div class="min-sm:row-span-2 md:px-10 space-y-2 ml-10 mt-5">
    <div class="flex items-center">
      <mat-icon class="profile-icons">date_range</mat-icon>
      <p>
        <strong class="ml-2">Fecha de nacimiento:</strong>
        {{ userData.birthDate | date : "dd/MM/YYYY" }}
      </p>
    </div>

    <div class="flex items-center">
      <mat-icon class="profile-icons">lens</mat-icon>
      <p><strong class="ml-2">Código Postal:</strong> {{ userData.cp }}</p>
    </div>

    <div class="flex items-center">
      <mat-icon class="profile-icons">business</mat-icon>
      <p><strong class="ml-2">Ciudad:</strong> {{ userData.city }}</p>
    </div>

    <div class="flex items-center">
      <mat-icon class="profile-icons">phone</mat-icon>
      <p><strong class="ml-2">Teléfono:</strong> {{ userData.phoneNumber }}</p>
    </div>
  </div>
</div>
