<div
  class="flex flex-col gap-3 items-center justify-between w-full pt-8 px-2 md:px-20"
></div>

<div
  class="flex flex-col gap-3 items-center justify-between w-full pt-8 px-2 md:px-20 min-md:w-2/3"
>
  <ng-container *ngFor="let task of dataSource">
    <div
      href="#"
      class="h-40 flex items-center bg-white rounded-lg shadow w-full hover:bg-gray-100 dark:border-green-700 dark:bg-gray-800 dark:hover:bg-gray-700"
      [class.green]="this.task.status != 'Pendiente'"
      [class.orange]="this.task.status == 'Pendiente'"
    >
      <div class="flex justify-between p-4 w-full">
        <div class="flex flex-col text-center">
          <p>Habitación:</p>
          <strong class="text-3xl"> {{ task.room.roomNumber }}</strong>
          <p>Planta:</p>
          <strong class="text-3xl"> {{ task.room.floor }}</strong>
        </div>
        <div class="flex flex-col">
          <p>Nota:</p>
          <h5 class="mb-2 text-2xl font-bold tracking-tight">
            <strong> {{ task.observations }} </strong>
          </h5>
          <p>Prioridad:</p>
          <p class="mb-3 font-normal">
            <strong>{{ task.priority }}</strong>
          </p>
        </div>
        <div class="flex flex-col justify-between w-1/4">
          <button mat-raised-button color="warn">Incidencia</button>
          <button mat-raised-button color="primary" *ngIf="this.task.status ==='Pendiente'" (click)="changeTaskStatus(this.task)">Completar</button>
          <button mat-raised-button class="yellow" *ngIf="this.task.status !=='Pendiente'" (click)="changeTaskStatus(this.task)">Deshacer</button>

        </div>
      </div>
    </div>
  </ng-container>
</div>
