# Visual Studio Code
.vscode/

# Visual Studio
.vs/
*.suo
*.user
*.sln.docstates

# Rider
.idea/

# Build results
/bin/
/obj/

# NuGet Packages
*.nuget.props
*.lock.json
*.paket.*
packages/

# .NET Core
*.dll
*.exe
*.pdb
*.cache
*.log
*.vscode
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp
*.dat
*.xml
*.xsl
*.dll.config
*.exe.config
*.3gpp
*.3gp2
*.avi
*.mp4
*.mov
*.mp3
*.wav

# Unit test / Test Explorer
TestResults/
[Tt]est[Rr]esult*/
*.trx
*.swp

# Resharper
resharper*/
*.[Rr]e[Ss]harper

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Mono-specific
mono_crash.*

# Image files
*.jpg
*.jpeg
*.png
*.gif
*.ico
*.svg
*.bmp
*.webp

# Others
*.cache
*.log
*.DS_Store
Thumbs.db
