<section class="md:w-1/24 lg:w-1/24 max-sm:invisible">
  <mat-nav-list class="mt-20">
    <a href="/tareas" mat-list-item><mat-icon>task</mat-icon></a>
    <a href="/habitaciones" mat-list-item><mat-icon>king_bed</mat-icon></a>
    <a href="/empleados" mat-list-item><mat-icon>person</mat-icon></a>
    <a href="/horario" mat-list-item><mat-icon>calendar_month</mat-icon></a>
  </mat-nav-list>
</section>


<!--    <div mat-list-item [routerLink]="/tareas"><mat-icon>task</mat-icon></div>
    <div mat-list-item [routerLink]="/habitaciones"><mat-icon>king_bed</mat-icon></div>
    <div mat-list-item [routerLink]="/empleados"><mat-icon>person</mat-icon></div>
    <div mat-list-item [routerLink]="/horario"><mat-icon>calendar_month</mat-icon></div>-->
