<form [formGroup]="passwordForm" (ngSubmit)="updatePassword(data.user.id)">
  <div class="p-3 bg-[#aec3b0] text-center">
    <h1 mat-dialog-title>Actualizar contraseña</h1>
    <mat-dialog-content class="mat-typography aling-baseline">
      <mat-form-field>
        <mat-label>Nueva contraseña</mat-label>
        <input
          formControlName="newPassword"
          matInput
          type="password"
          required
          name="newPassword"
        />
        <mat-error
          *ngIf="this.passwordForm.get('newPassword')?.hasError('required')"
          >Nueva contraseña requerida</mat-error
        >
        <mat-error
          *ngIf="
            this.passwordForm
              .get('newPassword')
              ?.hasError('passwordSpecialChars') &&
            passwordForm.get('newPassword')?.value.length > 0
          "
          >La contraseña debe contener al menos un carácter especial</mat-error
        >
        <mat-error
          *ngIf="
            this.passwordForm.get('newPassword')?.hasError('passwordNumbers') &&
            passwordForm.get('newPassword')?.value.length > 0
          "
          >La contraseña debe contener al menos un número</mat-error
        >
        <mat-error
          *ngIf="
            this.passwordForm
              .get('newPassword')
              ?.hasError('passwordUppercase') &&
            passwordForm.get('newPassword')?.value.length > 0
          "
          >La contraseña debe contener al menos una letra mayúscula</mat-error
        >
        <mat-error
          *ngIf="
            passwordForm.get('newPassword')?.hasError('passwordLength') &&
            passwordForm.get('newPassword')?.value.length > 0
          "
        >
          La contraseña debe tener al menos
          {{
            passwordForm.get("newPassword")?.getError("passwordLength")
              .requiredLength
          }}
          caracteres (actualmente tiene
          {{
            passwordForm.get("newPassword")?.getError("passwordLength")
              .actualLength
          }})
        </mat-error>
      </mat-form-field>
      <br /><br />
      <mat-form-field>
        <mat-label>Repetir nueva contraseña</mat-label>
        <input
          formControlName="repeatNewPassword"
          matInput
          type="password"
          required
          name="repeatNewPassword"
        />
        <mat-error
          *ngIf="
            this.passwordForm.get('repeatNewPassword')?.hasError('required')
          "
          >Repetir contraseña requerido</mat-error
        >
        <mat-error
          *ngIf="
            this.passwordForm
              .get('repeatNewPassword')
              ?.hasError('passwordMismatch') &&
            passwordForm.get('repeatNewPassword')?.value.length > 0
          "
        >
          La nueva contraseña debe ser igual en ambos campos
        </mat-error>
      </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-raised-button mat-dialog-close>
        <mat-icon>cancel</mat-icon>Cancelar
      </button>
      <button
        [disabled]="passwordForm.invalid"
        type="submit"
        mat-raised-button
        [mat-dialog-close]="true"
        class="boton-editar"
      >
        <mat-icon>password</mat-icon>
        Actualizar Contraseña
      </button>
    </mat-dialog-actions>
  </div>
</form>
