<nav style="background-color:#01161e;color:#aec3b0;" class="w-full flex items-between">
  <div class="flex items-center place-self-center h-12 w-14" style="background-color: white;">
    <a href="/dashboard" class="flex w-full h-full justify-center">
      <img src="../../../../assets/images/logo-color.png" alt="Inicio" class="icon-image w-8 h-8 object-contain place-self-center">
    </a>
  </div>
  <div class="mx-auto place-self-center">
    <div>
      <span>{{ getCurrentTimeAndDate() }}</span>
    </div>
  </div>
  <div>
    <div class="place-self-center position">
      <button mat-icon-button>
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
  </div>
</nav>

