<div class="w-full p-6 bg-[#eff6e0] rounded-lg shadow-lg">
  <h1 mat-dialog-title class="text-xl font-semibold mb-4">Eliminar habitación nº {{ data.room.roomNumber }}</h1>
  <mat-dialog-content class="w-full mb-4">
    <p class="text-lg">¿Estás seguro de eliminar la habitación nº {{ data.room.roomNumber }}?</p>
  </mat-dialog-content>
  <div class="flex justify-end space-x-4">
    <button mat-raised-button color="primary" (click)="onCancelClick()">Cancelar</button>
    <button mat-raised-button color="warn" (click)="onConfirmClick()">
      Eliminar
    </button>
  </div>
</div>
