<h1 class="mat-dialog-title">Edit {{ data.room.name }}</h1>

<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="editarRoom(form)">
    <div class="grid grid-cols-2 gap-4">
      <!-- Campo de nombre -->
      <div class="mb-4">
        <mat-form-field appearance="fill">
          <mat-label>RoomNumber</mat-label>
          <input
            matInput
            formControlName="roomNumber"
            required
            type="text"
            [(ngModel)]="data.room.roomNumber"
          />
          <mat-error *ngIf="form.get('roomNumber').errors?.required">RoomNumber is required</mat-error>
        </mat-form-field>
      </div>

      <!-- Campo de apellido -->
      <div class="mb-4">
        <mat-form-field appearance="fill">
          <mat-label>Floor</mat-label>
          <input
            matInput
            formControlName="floor"
            required
            type="text"
            [(ngModel)]="data.room.floor"
          />
          <mat-error *ngIf="form.get('floor').errors?.required">Floor is required</mat-error>
        </mat-form-field>
      </div>
      <div class="mb-4">
        <mat-form-field>
          <mat-label>Type</mat-label>
          <mat-select formControlName="type" [(ngModel)]="data.room.type">
            <mat-option *ngFor="let option of typeOptions" [value]="option.value">{{ option.label }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="mb-4">
        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select formControlName="status" [(ngModel)]="data.room.status">
            <mat-option *ngFor="let option of statusOptions" [value]="option.value">{{ option.label }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div mat-dialog-actions>
      <button mat-raised-button color="primary" [disabled]="!form.valid">Edit room</button>
    </div>
  </form>
  <button mat-raised-button color="primary" (click)="cerrarEditar()">
    Cancel
  </button>

</div>
