<section>
  <div
    class="sm:w-full lg:w-1/3 mx-auto rounded overflow-hidden shadow-lg  bg-white"
  >
    <div class="grid flex gap-5 text-center p-10">
      <div class="w-full">
        <img src="assets/source/prueba1.png" alt="" class="imagen mx-auto mb-3" />
        <h1><strong>Datos Personales</strong></h1>

      </div>
      <div class="flex  grid grid-cols-1 sm:grid-cols-2 gap-3 justify-items-center items-center">
        <!-- Primer grupo de datos -->
        <div class="space-y-4">
          <div class="flex items-center">
            <mat-icon class="profile-icons">account_circle</mat-icon>
            <strong class="ml-2">Nombre:</strong>
          </div>
          <div>
            <p>{{ userData.name }}</p>
          </div>
      
          <div class="flex items-center">
            <mat-icon class="profile-icons">lens</mat-icon>
            <strong class="ml-2">Apellido:</strong>
          </div>
          <div>
            <p>{{ userData.surname }}</p>
          </div>
      
          <div class="flex items-center">
            <mat-icon class="profile-icons">fingerprint</mat-icon>
            <strong class="ml-2">DNI:</strong>
          </div>
          <div>
            <p>{{ userData.dni }}</p>
          </div>
      
          <div class="flex items-center">
            <mat-icon class="profile-icons">email</mat-icon>
            <strong class="ml-2">Correo Electrónico:</strong>
          </div>
          <div>
            <p>{{ userData.email }}</p>
          </div>
        </div>
      
        <!-- Segundo grupo -->
        <div class="space-y-4">
          <div class="flex items-center">
            <mat-icon class="profile-icons">date_range</mat-icon>
            <strong class="ml-2">Fecha de nacimiento:</strong>
          </div>
          <div>
            <p>{{ userData.birthDate | date : "dd/MM/YYYY" }}</p>
          </div>
      
          <div class="flex items-center">
            <mat-icon class="profile-icons">lens</mat-icon>
            <strong class="ml-2">Código Postal:</strong>
          </div>
          <div>
            <p>{{ userData.pc }}</p>
          </div>
      
          <div class="flex items-center">
            <mat-icon class="profile-icons">business</mat-icon>
            <strong class="ml-2">Ciudad:</strong>
          </div>
          <div>
            <p>{{ userData.city }}</p>
          </div>
      
          <div class="flex items-center">
            <mat-icon class="profile-icons">phone</mat-icon>
            <strong class="ml-2">Teléfono:</strong>
          </div>
          <div>
            <p>{{ userData.phone }}</p>
          </div>
        </div>
      </div>
      







      <div>
        <button class="rounded-full p-2 w-full bg-indigo-600 text-white">
          <mat-icon class="position">password</mat-icon>&nbsp; Cambiar
          contraseña
        </button>
      </div>
      <div>
        <button
          class="rounded-full p-2 w-full border-2 border-indigo-600 text-indigo-600 hover:bg-indigo-600 hover:text-white"
        >
          <mat-icon class="position">person</mat-icon>&nbsp; Editar usuario
        </button>
      </div>
    </div>
  </div>
</section>
