<div id="add" class="w-full p-8 bg-[#aec3b0]">
  <h2>Añadir Habitacion</h2>
  <form [formGroup]="roomForm" (ngSubmit)="guardarRoom()" class="space-y-4">
    <div class="grid grid-cols-2 gap-4">
      <!-- Campo de RoomNumber -->
      <div class="mb-4">
        <mat-form-field>
          <mat-label>RoomNumber</mat-label>
          <input matInput formControlName="roomNumber" required type="text" />
          <mat-error>RoomNumber son requeridas</mat-error>
        </mat-form-field>
      </div>
      <!-- Campo de Floor -->
      <div class="mb-4">
        <mat-form-field>
          <mat-label>Floor</mat-label>
          <input matInput formControlName="floor" required type="text" />
          <mat-error>Floor son requeridas</mat-error>
        </mat-form-field>
      </div>
      <!-- Campo de Type -->
      <div class="mb-4">
        <mat-form-field>
          <mat-label>Type</mat-label>
          <mat-select formControlName="type" [(ngModel)]="defaultType">
            <mat-option *ngFor="let option of typeOptions" [value]="option.value">{{ option.label }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- Campo de Status -->
      <div class="mb-4">
        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select formControlName="status" [(ngModel)]="defaultStatus">
            <mat-option *ngFor="let option of statusOptions" [value]="option.value">{{ option.label }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="flex justify-end space-x-4 mt-4">
      <button mat-raised-button color="primary" type="button" (click)="cerrarDialog()"
        class="bg-custom-light-gray text-custom-gray rounded-md px-4 py-2 hover:bg-custom-medium-gray focus:outline-none focus:bg-custom-medium-gray">
        Cancelar
      </button>
      <button mat-raised-button color="#01161e" type="submit" [disabled]="!roomForm.valid"
        class="bg-[#01161e] text-white rounded-md px-4 py-2 hover:bg-[#01161e] focus:outline-none focus:bg-[#01161e]">
        Agregar Habitación
      </button>
    </div>
  </form>
</div>
