<section class="md:w-1/24 lg:w-1/24 max-md:invisible">
  <div
    class="flex items-center place-self-center h-12 w-14"
    style="background-color: white"
  >
    <a routerLink="dashboard" class="flex w-full h-full justify-center">
      <img
        src="../../../../assets/source/logo.png"
        alt="Inicio"
        class="icon-image w-8 h-8 object-contain place-self-center"
      />
    </a>
  </div>
  <mat-nav-list>
    <mat-list-item *ngIf="isAdmin()">
      <a routerLink="tareas" class="flex w-full h-full justify-center">
        <mat-icon>task</mat-icon>
      </a>
    </mat-list-item>
    <mat-list-item *ngIf="isAdmin()">
      <a routerLink="empleados" class="flex w-full h-full justify-center">
        <mat-icon>person</mat-icon>
      </a>
    </mat-list-item>
    <mat-list-item *ngIf="isAdmin()">
      <a routerLink="habitaciones" class="flex w-full h-full justify-center">
        <mat-icon>hotel</mat-icon>
      </a>
    </mat-list-item>
    <mat-list-item>
      <a routerLink="dashboard" class="flex w-full h-full justify-center">
        <mat-icon>calendar_month</mat-icon>
      </a>
    </mat-list-item>
  </mat-nav-list>
  <!-- Este div se mostrará solo en viewports menores a md -->
</section>

<nav class="w-full flex items-between">
  <div
    class="flex items-center place-self-center h-12 w-14"
    style="background-color: white"
  >
    <a routerLink="empleados" class="flex w-full h-full justify-center">
      <img
        src="../../../../assets/source/logo.png"
        alt="Inicio"
        class="icon-image w-8 h-8 object-contain place-self-center"
      />
    </a>
  </div>
  <div class="mx-auto place-self-center">
    <div>
      <app-clock></app-clock>
    </div>
  </div>

  <div class="md:hidden flex justify-center">
    <div class="flex">
      <!-- Botones para navegación -->
      <a *ngIf="isAdmin()"
        routerLink="tareas"
        class="flex items-center justify-center w-10 h-10 bg-gray-200 rounded-full mx-1"
      >
        <mat-icon>task</mat-icon>
      </a>
      <a *ngIf="isAdmin()"
        routerLink="empleados"
        class="flex items-center justify-center w-10 h-10 bg-gray-200 rounded-full mx-1"
      >
        <mat-icon>person</mat-icon>
      </a>
      <a *ngIf="isAdmin()"
        routerLink="habitaciones"
        class="flex items-center justify-center w-10 h-10 bg-gray-200 rounded-full mx-1"
      >
        <mat-icon>hotel</mat-icon>
      </a>
      <a
        routerLink="dashboard"
        class="flex items-center justify-center w-10 h-10 bg-gray-200 rounded-full mx-1"
      >
        <mat-icon>calendar_month</mat-icon>
      </a>
    </div>
  </div>

  <div class="place-self-center flex gap-2 mr-3 justify-center items-center">
    <button routerLink="perfil" mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
    <button
      (click)="logOut()"
      aria-label="Cerrar sesion"
      class="text-red-500 cursor-pointer"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</nav>
