<section class="md:w-1/24 lg:w-1/24 max-md:invisible" *ngIf="showNavBar()">
  <div
    class="flex items-center place-self-center h-12 w-14"
    style="background-color: white"
  >
    <a routerLink="/dashboard" class="flex w-full h-full justify-center">
      <img
        src="../../../../assets/source/logo.png"
        alt="Inicio"
        class="icon-image w-8 h-8 object-contain place-self-center"
      />
    </a>
  </div>
  <mat-nav-list>
    <mat-list-item>
      <a routerLink="empleados" class="flex w-full h-full justify-center">
        <mat-icon>task</mat-icon>
      </a>
    </mat-list-item>
    <mat-list-item>
      <a routerLink="empleados" class="flex w-full h-full justify-center">
        <mat-icon>person</mat-icon>
      </a>
    </mat-list-item>
    <mat-list-item>
      <a routerLink="" class="flex w-full h-full justify-center">
        <mat-icon>hotel</mat-icon>
      </a>
    </mat-list-item>
    <mat-list-item>
      <a routerLink="" class="flex w-full h-full justify-center">
        <mat-icon>calendar_month</mat-icon>
      </a>
    </mat-list-item>
  </mat-nav-list>
  <!-- Este div se mostrará solo en viewports menores a md -->

</section>
<nav
  style="background-color: #01161e; color: #aec3b0"
  class="w-full flex items-between"
  *ngIf="showNavBar()"
>
  <div
    class="flex items-center place-self-center h-12 w-14"
    style="background-color: white"
  >
    <a routerLink="empleados" class="flex w-full h-full justify-center">
      <img
        src="../../../../assets/source/logo.png"
        alt="Inicio"
        class="icon-image w-8 h-8 object-contain place-self-center"
      />
    </a>
  </div>
  <div class="mx-auto place-self-center">
    <div>
      <span>{{ getCurrentTimeAndDate() }}</span>
    </div>
  </div>
  <div>
    <div class="place-self-center position">
      <button mat-icon-button>
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
  </div>
  <div class="md:hidden flex justify-center" >
    <div class="flex">
      <!-- Botones para navegación -->
      <a routerLink="empleados" class="flex items-center justify-center w-10 h-10 bg-gray-200 rounded-full mx-1">
        <mat-icon>task</mat-icon>
      </a>
      <a routerLink="empleados" class="flex items-center justify-center w-10 h-10 bg-gray-200 rounded-full mx-1">
        <mat-icon>person</mat-icon>
      </a>
      <a routerLink="" class="flex items-center justify-center w-10 h-10 bg-gray-200 rounded-full mx-1">
        <mat-icon>hotel</mat-icon>
      </a>
      <a routerLink="" class="flex items-center justify-center w-10 h-10 bg-gray-200 rounded-full mx-1">
        <mat-icon>calendar_month</mat-icon>
      </a>
    </div>
  </div>
</nav>
