<div class="w-full p-8 bg-[#eff6e0] rounded-lg shadow-lg">
  <h2 class="text-center">
    Modificar empleado {{ data.user.email }}
  </h2>
<form [formGroup]="userForm" (ngSubmit)="updateUser(data.user.id)">

  <div class="grid grid-cols-2 gap-4">
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input formControlName="name" matInput name="name" required type="text" />
      <mat-error *ngIf="this.userForm.get('name')?.hasError('required')"
        >Nombre requerido</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Apellidos</mat-label>
      <input
        formControlName="surname"
        required
        matInput
        name="surname"
        type="text"
      />
      <mat-error *ngIf="this.userForm.get('surname')?.hasError('required')"
        >Apellidos requerido</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        formControlName="email"
        required
        matInput
        name="email"
        type="email"
      />
      <mat-error *ngIf="this.userForm.get('email')?.hasError('required')"
        >Email requerido</mat-error
      >
      <mat-error *ngIf="this.userForm.get('email')?.hasError('email')"
        >Formato inválido</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>DNI</mat-label>
      <input formControlName="dni" required matInput name="dni" type="text" />
      <mat-error *ngIf="this.userForm.get('dni')?.hasError('required')"
        >DNI requerido</mat-error
      >
      <mat-error
        *ngIf="
          this.userForm.get('dni')?.hasError('invalidDni') &&
          this.userForm.get('dni')?.value.length > 0
        "
        >Formato inválido</mat-error
      >
    </mat-form-field>

    <mat-radio-group formControlName="roleAdmin"class="flex items-center justify-center space-x-4 col-span-2">
      <mat-label class="mr-4">Rol</mat-label>
      <mat-radio-button
        [disabled]="data.user.id === getUserLoggedId()"
        [value]="false"
        >User</mat-radio-button
      >
      <mat-radio-button [value]="true">Admin</mat-radio-button>
    </mat-radio-group>

    <mat-form-field appearance="fill">
      <mat-label>Teléfono</mat-label>
      <input
        formControlName="phoneNumber"
        matInput
        name="phoneNumber"
        type="text"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Fecha de nacimiento</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="birthDate"
        name="birthDate"
      />
      <mat-hint>Dia/Mes/Año</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ciudad</mat-label>
      <input formControlName="city" matInput name="city" type="text" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>CP</mat-label>
      <input formControlName="cp" matInput name="cp" type="text" />
    </mat-form-field>

    <mat-label
      >Imagen
      <input
        formControlName="urlImage"
        #fileInput
        hidden
        type="file"
        (change)="onFileSelected($event)"
        accept="image/*"
      />
      <button
        type="button"
        mat-raised-button
        color="primary"
        (click)="fileInput.click()"
      >
        <span *ngIf="!imageName">Elegir imagen</span>
        <span *ngIf="imageName">{{ imageName }}</span>
      </button>&nbsp;
      <button
        *ngIf="imageData"
        mat-raised-button
        class="cancelar"
        (click)="clearImage()"
      >
        Quitar imagen
      </button>
    </mat-label>
    <div *ngIf="imageData" style="margin-top: 10px" class="text-end">
      <img [src]="imageData" alt="Miniatura de la imagen" width="100" />
    </div>
  </div>
  <div class="flex justify-center">
  <mat-dialog-actions class="flex justify-center">
    <button
      *ngIf="data.user.id === getUserLoggedId()"
      mat-raised-button
      class="bg-green-500"
      routerLink="/perfil"
      type="button"
      mat-dialog-close
      class="contraseña"

    >
      Actualizar contraseña
    </button>
    <button
      *ngIf="data.user.id !== getUserLoggedId()"
      mat-raised-button
      class="bg-green-500"
      (click)="updateUserPasswordModal(data.user)"
      type="button"
      class="contraseña"
    >
      Actualizar contraseña
    </button>
    <button mat-raised-button class="cancelar" mat-dialog-close>Cerrar</button>
    <button
      [disabled]="userForm.invalid"
      type="submit"
      mat-button
      [mat-dialog-close]="true"
      [ngStyle]="{
        'background-color': userForm.valid ? '#124559' : '#b0b0b0',
        color: userForm.valid ? '#eff6e0' : '#ffffff'
      }"
      class="bg-[#01161e] text-white px-4 py-2 bg-[#01161e] focus:outline-none focus:bg-[#01161e]"
    >
      Modificar empleado
    </button>
  </mat-dialog-actions>
</div>


</form>
</div>
