<div class="p-3 bg-[#aec3b0] text-center">
  <h2 mat-dialog-title>Confirmar Automatización</h2>
  <div mat-dialog-content>
    ¿Está seguro de que desea asignar la limpieza de todas las habitaciones de
    forma automática?
  </div>
  <div mat-dialog-actions class="dialog-actions">
    <button mat-raised-button (click)="onCancelClick()">
      <mat-icon>cancel</mat-icon>Cancelar
    </button>
    <button
      mat-raised-button
      class="boton-nuevo"
      (click)="onConfirmClick()"
      cdkFocusInitial
    >
      <mat-icon>task</mat-icon>
      Asignar Automáticamente
    </button>
  </div>
</div>
