<section class="p-5 mt-10">
  <div class="font-bold text-xl mb-3 w-full lg:w-4/5 mx-auto rounded overflow-hidden shadow-lg py-3 beige text-center drop-shadow-md">
    Empleados
  </div>
  <div
    class="mb-3 w-full lg:w-4/5 mx-auto rounded overflow-hidden shadow-lg py-3 beige text-center"
  >
    <div class="px-6 py-4 flex justify-between">

      <mat-radio-group
        [value]="searchRadioButtonValue"
        (change)="onRadioButtonChange($event)"
      >
        <mat-radio-button value="Name">Nombre</mat-radio-button>
        <mat-radio-button value="Surname">Apellidos</mat-radio-button>
        <mat-radio-button value="Email">Email</mat-radio-button>
        <mat-radio-button value="PhoneNumber">Teléfono</mat-radio-button>
        <mat-radio-button value="City">Ciudad</mat-radio-button>
      </mat-radio-group>
      <input type="text" class="px-2" (keyup)="userFilter($event)" placeholder="Buscar..." />
    </div>
    <div>
      <mat-table
        [dataSource]="dataSource"
        matSort
        (matSortChange)="orderColumns($event)"
        class="table w-full"
        style="border-collapse: collapse"
      >
        <!-- Name Column -->
        <ng-container matColumnDef="Name" class="hover:bg-gray-700">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
          <td mat-cell *matCellDef="let element" (click)="checkUser(element.id)">
            <div class="inline-flex items-center gap-2" style="vertical-align: middle;">
              <mat-icon *ngIf="element.roleAdmin" title="Administrador" style="font-size: 20px; vertical-align: middle;">admin_panel_settings</mat-icon>
              <mat-icon *ngIf="!element.roleAdmin" title="Usuario" style="font-size: 20px; vertical-align: middle;">person</mat-icon>
              <span style="vertical-align: middle;">{{ element.name }}</span>
            </div>
          </td>
        </ng-container>

        <!-- Surname Column -->
        <ng-container matColumnDef="Surname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellidos</th>
          <td mat-cell *matCellDef="let element" (click)="checkUser(element.id)">{{ element.surname }}</td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="Email" class="max-md:invisible col-telf">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef="let element" (click)="checkUser(element.id)">{{ element.email }}</td>
        </ng-container>
        <div>
          <!-- PhoneNumber Column -->
          <ng-container matColumnDef="PhoneNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Teléfono</th>
            <td mat-cell *matCellDef="let element" (click)="checkUser(element.id)">
              {{ element.phoneNumber }}
            </td>
          </ng-container>
        </div>
        <!-- City Column -->
        <div>
          <ng-container matColumnDef="City">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Ciudad</th>
            <td mat-cell *matCellDef="let element" (click)="checkUser(element.id)">
              {{ element.city }}
            </td>
          </ng-container>
        </div>
        <!-- Options Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let element">
            <button
              title="Editar"
              mat-icon-button
              color="primary"
              (click)="updateUser(element)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              title="Eliminar"
              *ngIf="element.id !== getUserLoggedId()"
              mat-icon-button
              color="warn"
              (click)="deleteUser(element.id, element)"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <button
              title="Mi perfil"
              routerLink="/perfil"
              mat-icon-button
              *ngIf="element.id === getUserLoggedId()"
            >
              <mat-icon>account_circle</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </mat-table>

      <!-- Paginacion -->
      <mat-paginator
        (page)="eventPager($event)"
        #paginacion
        [pageSize]="paginationRequest.pageSize"
        [pageSizeOptions]="comboPages"
        [length]="totalUsers"
      ></mat-paginator>
    </div>
    <div class="px-6 pt-4 pb-2 grid">
      <div class="place-self-end">
        <button
        mat-flat-button
        style="background-color: #124559;  color: #eff6e0" (click)="insertUser()">
          Añadir empleado<mat-icon>person</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="mb-3 w-full lg:w-4/5 mx-auto rounded overflow-hidden shadow-lg py-3 px-4 text-white add">
    <p><strong>Info:</strong> Los usuarios podrán ser añadidos, borrados o modificados unicamente por los administradores.</p>

    <mat-icon style="font-size: 20px; vertical-align: middle;">admin_panel_settings</mat-icon><span>Administrador</span>
    <mat-icon style="font-size: 20px; vertical-align: middle;">person</mat-icon><span>Empleado</span>
  </div>
</section>
