h3 {
  text-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.5);
  font-size: 2.5rem;
  letter-spacing: 0.25em;
  text-align: center;
}

td:hover {
  cursor: pointer !important;
}

@media screen and (max-width: 650px) {
  #col-telf {
    display: none;
  }
}
@media (max-width: 767px) {
  .col-telf {
    display: none !important;
  }
}
