.position{
  position: relative;
  top:2px;
  left: -2px;
}

.add{
background-color: #01161e;
}
.beige{
  background-color: #eff6e0;
}
@media screen and (max-width: 650px) {
  #col-telf{
      display: none;
  }

}
@media (max-width: 767px) {
  .col-telf {
    display: none !important;
  }
}

tr:hover{
  background-color: #eff6e0;
  cursor:pointer
}
th{
  text-align: center;
  vertical-align: middle;
  cursor: default;
  background-color: white;
}

