<div class="flex flex-col w-fulljustify-center mt-10">
    <div class="titulo">
      <h1>NOVOTEL</h1>

    </div>
    <h3>HOTELS, SUITES & RESORTS</h3>
    <div class="image-container flex justify-center">
      <!-- Añade la clase justify-center para centrar horizontalmente -->
      <img src="../../../../assets/source/plano1.jpeg" alt="Imagen" class="image mr-2" />
      <img src="../../../../assets/source/plano1.jpeg" alt="Imagen" class="image" style="transform: rotate(180deg)" />
    </div>
  </div>
  <footer>
    <p>by BRoom</p>
  </footer>



