
/* Estilos para centrar la sección en la página */
section {
 /* Esto asegura que la sección ocupe toda la altura de la ventana */
  background-color: #aec3b0;
}

.image {
  width: 30%; /* La imagen ocupará todo el ancho de su contenedor */
  height: 30%; /* La imagen ocupará todo el alto del contenedor */
  object-fit: cover; /* Hace que la imagen cubra todo el espacio disponible sin deformarse */

}


.image-container {
  margin-top: 50px; /* Ajusta el margen superior del contenedor de imágenes */
}


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  padding-right: 20px;
}
h1 {
  text-shadow: 8px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 90px;
  letter-spacing: 6px;
  text-align: center;
  margin-bottom: 50px; /* Reduce el margen inferior del título */
  color:#01161e;
}
h3 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 30px;
  letter-spacing: 10px;
  text-align: center;
}
.container{
  margin-bottom: 200px;
}

