<app-navbar></app-navbar>
<app-menu-lista></app-menu-lista>
<section class="full-height-section">
  <div class="container">
    <div class="titulo">
      <h1>NOVOTEL</h1>
      <h3>HOTELS, SUITES & RESORTS</h3>
    </div>
    <div class="image-container flex justify-center">
      <!-- Añade la clase justify-center para centrar horizontalmente -->
      <img src="../../../../assets/images/plano1.jpeg" alt="Imagen" class="image mr-2" />
      <img src="../../../../assets/images/plano1.jpeg" alt="Imagen" class="image" style="transform: rotate(180deg)" />
    </div>
  </div>
  <footer>
    <p>by BRoom</p>
  </footer>
</section>


