<h1 class="mat-dialog-title">Edit {{ data.user.name }}</h1>


<div mat-dialog-content>
  <form #f="ngForm" (ngSubmit)="editarUser(f)">
    <div class="grid grid-cols-2 gap-4">
      <!-- Campo de nombre -->
      <div class="mb-4">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input
            id="name"
            matInput
            name="name"
            ngModel
            required
            type="text"
            [(ngModel)]="data.user.name"
          />
          <mat-error>Name is required</mat-error>
        </mat-form-field>
      </div>

      <!-- Campo de apellido -->
      <div class="mb-4">
        <mat-form-field appearance="fill">
          <mat-label>Surname</mat-label>
          <input
            id="surname"
            matInput
            name="surname"
            ngModel
            required
            type="text"
            [(ngModel)]="data.user.surname"
          />
          <mat-error>Surname is required</mat-error>
        </mat-form-field>
      </div>

      <!-- Campo de DNI -->
      <div class="mb-4" [formGroup]="dniForm">
        <mat-form-field>
          <mat-label>DNI</mat-label>
          <input matInput type="text" formControlName="dni"  [(ngModel)]="data.user.dni"  />
          <mat-error>
            <div *ngIf="dni.invalid && (dni.dirty || dni.touched)">
              <div *ngIf="dni.errors?.required">El DNI es obligatorio.</div>
              <div *ngIf="dni.errors?.pattern">El DNI no está bien formado</div>
            </div>
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Campo de CP -->
      <div class="mb-4">
        <mat-form-field appearance="fill">
          <mat-label>CP</mat-label>
          <input
            id="cp"
            matInput
            name="cp"
            ngModel
            required
            type="text"
            [(ngModel)]="data.user.cp"
          />
          <mat-error>CP is required</mat-error>
        </mat-form-field>
      </div>

      <!-- Campo de nombre de usuario -->
      <div class="mb-4">
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input
            id="username"
            matInput
            name="username"
            ngModel
            required
            type="text"
            [(ngModel)]="data.user.username"
          />
          <mat-error>Username is required</mat-error>
        </mat-form-field>
      </div>

      <!-- Campo de ciudad -->
      <div class="mb-4">
        <mat-form-field appearance="fill">
          <mat-label>City</mat-label>
          <input
            id="city"
            matInput
            name="city"
            ngModel
            required
            type="text"
            [(ngModel)]="data.user.city"
          />
          <mat-error>City is required</mat-error>
        </mat-form-field>
      </div>

      <!-- Campo de número de teléfono -->
      <div class="mb-4">
        <mat-form-field appearance="fill">
          <mat-label>Phone Number</mat-label>
          <input
            id="phoneNumber"
            matInput
            name="phoneNumber"
            ngModel
            required
            type="text"
            [(ngModel)]="data.user.phoneNumber"
          />
          <mat-error>Phone Number is required</mat-error>
        </mat-form-field>
      </div>

      <!-- Campo de fecha de nacimiento -->
      <div class="mb-4">
        <mat-form-field appearance="fill">
          <mat-label>Birth Date</mat-label>
          <input
            id="birthDate"
            matInput
            [matDatepicker]="picker"
            name="birthDate"
            ngModel
            required
            type="text"
            [(ngModel)]="data.user.birthDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error>Birth Date is required</mat-error>
        </mat-form-field>
      </div>

      <!-- Campo de correo electrónico -->
      <div class="mb-4">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input
            id="email"
            matInput
            name="email"
            ngModel
            required
            email
            type="email"
            [(ngModel)]="data.user.email"
          />
          <mat-error>Email is required</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div mat-dialog-actions>

      <button mat-raised-button color="primary" [disabled]="!f.valid">
        Edit User
      </button>
    </div>
  </form>
  <button mat-raised-button color="primary" (click)="cerrarEditar()">
        Cancel
      </button>
</div>
