<div mat-dialog-content>
  <form #f="ngForm" (ngSubmit)="guardarTarea(f)">
    <div class="grid grid-cols-2 gap-4">
      <!-- Campo de prioridad -->
      <div class="mb-4">
        <mat-form-field>
          <mat-label>Prioridad</mat-label>
          <mat-select name="priority" ngModel>
            <mat-option *ngFor="let option of priorityOptions" [value]="option.value">{{ option.label }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Campo de usuario asignado -->
      <div class="mb-4">
        <mat-form-field>
          <mat-label>Usuario asignado</mat-label>
          <mat-select name="userId" ngModel>
            <mat-option *ngFor="let user of users" [value]="user.id">{{ user.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Campo de habitación asignada -->
      <div class="mb-4">
        <mat-form-field>
          <mat-label>Habitación asignada</mat-label>
          <mat-select name="roomId" ngModel>
            <mat-option *ngFor="let room of rooms" [value]="room.id">{{ room.roomNumber }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="mb-4">
      <mat-form-field appearance="fill">
        <mat-label>Observaciones</mat-label>
        <input
          id="observations"
          matInput
          name="observations"
          ngModel
          required
          type="text"
        />
        <mat-error>observations is required</mat-error>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="cerrarDialog()">Cancelar</button>
      <button mat-raised-button color="primary" [disabled]="!f.valid">Agregar Tarea</button>
    </div>
  </form>
</div>
