<div mat-dialog-content>
  <form [formGroup]="taskForm" (ngSubmit)="guardarTarea()">
    <div class="grid grid-cols-2 gap-4">
      <!-- Campo de prioridad -->
      <div class="mb-4">
        <mat-form-field>
          <mat-label>Prioridad</mat-label>
          <mat-select formControlName="priority">
            <mat-option *ngFor="let option of priorityOptions" [value]="option.value">{{ option.label }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="mb-4">
        <mat-form-field>
          <mat-label>Estado</mat-label>
          <mat-select formControlName="status" [(ngModel)]="defaultStatus">
            <mat-option *ngFor="let option of statusOptions" [value]="option.value">{{ option.label }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Campo de usuario asignado -->
      <div class="mb-4">
        <mat-form-field>
          <mat-label>Usuario asignado</mat-label>
          <mat-select formControlName="userId">
            <mat-option *ngFor="let user of users" [value]="user.id">{{ user.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Campo de habitación asignada -->
      <div class="mb-4">
        <mat-form-field>
          <mat-label>Habitación asignada</mat-label>
          <mat-select formControlName="roomId">
            <mat-option *ngFor="let room of rooms" [value]="room.id">{{ room.roomNumber }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="mb-4">
      <mat-form-field appearance="fill">
        <mat-label>Observaciones</mat-label>
        <input matInput formControlName="observations" required type="text">
        <mat-error>Observaciones son requeridas</mat-error>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="cerrarDialog()">Cancelar</button>
      <button mat-raised-button color="primary" [disabled]="!taskForm.valid">Agregar Tarea</button>
    </div>
  </form>
</div>
