<form [formGroup]="taskForm" (ngSubmit)="insertTask()" class="modal-content">
  <h1 class="mat-dialog-title w-full text-center">Añadir nueva tarea</h1>
  <div class="grid grid-cols-2 gap-4">
    <!-- User table component -->
    <app-task-user-table
      (selectedIdUserChange)="onSelectedIdUserChange($event)"
      class="col-span-2"
    ></app-task-user-table>
    <!-- Save the user id selected, hidden -->
    <input
      hidden
      formControlName="user"
      matInput
      name="user"
      type="text"
      [value]="userId"
    />
    <!-- Room table component -->
    <app-task-room-table
      (selectedIdRoomChange)="onSelectedIdRoomChange($event)"
      class="col-span-2"
    ></app-task-room-table>
    <!-- Save the room id selected, hidden -->
    <input
      hidden
      formControlName="room"
      matInput
      name="room"
      type="text"
      [value]="roomId"
    />

    <mat-form-field appearance="fill">
      <mat-label>Prioridad</mat-label>
      <input formControlName="priority" matInput name="priority" type="text" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Estado</mat-label>
      <input formControlName="status" matInput name="status" type="text" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Observaciones</mat-label>
      <input
        formControlName="observations"
        matInput
        name="observations"
        type="text"
      />
    </mat-form-field>

    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Cerrar</button>
      <button
        [disabled]="taskForm.invalid"
        type="submit"
        mat-button
        [mat-dialog-close]="true"
      >
        Añadir tarea
      </button>
    </mat-dialog-actions>
  </div>
</form>
