<div
  class="flex flex-col gap-3 items-center justify-between w-full pt-8 px-2 md:px-20"
>
  <div
    class="flex flex-col gap-3 items-center justify-between w-full pt-8 px-2 md:px-20 min-md:w-2/3"
  >
    <ng-container *ngFor="let task of dataSource">
      <div
        href="#"
        class="h-50 flex items-center bg-white rounded-lg shadow w-full hover:bg-gray-100 dark:border-green-700 dark:bg-gray-800 dark:hover:bg-gray-700"
        [class.ready-color]="this.task.status != 'Pendiente'"
        [class.todo-color]="this.task.status == 'Pendiente'"
      >
        <div class="flex flex-col p-6 w-full">
          <div class="flex justify-between">
            <div class="flex flex-col text-center">
              <p>Nº Habitación</p>
              <p>
                <strong class="text-2xl underline">{{
                  task.room.roomNumber
                }}</strong>
              </p>
              <p>Tipo</p>
              <p>
                <strong>{{ task.room.type }}</strong>
              </p>
            </div>
            <div class="flex flex-col text-center">
              <p>Planta</p>
              <p>
                <strong class="text-2xl">{{ task.room.floor }}</strong>
              </p>
              <p>Estado</p>
              <p>
                <strong>{{ task.room.status }}</strong>
              </p>
            </div>
            <div class="flex flex-col text-center">
              <p>Prioridad</p>
              <!-- priority cases -->
              <div [ngSwitch]="task.priority">
                <p>
                  <ng-container *ngSwitchCase="'0'">
                    <strong>Baja</strong>
                  </ng-container>
                  <ng-container *ngSwitchCase="'1'">
                    <strong>Normal</strong>
                  </ng-container>
                  <ng-container *ngSwitchCase="'2'">
                    <strong>Alta</strong>
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    <strong>{{ task.priority }}</strong>
                  </ng-container>
                </p>
              </div>
            </div>
          </div>

          <div *ngIf="task.observations != ''" class="m-4 ml-12">
            <p class="text-center">Observaciones</p>
            <p class="text-center">
              <strong class="text-xl">{{
                task.observations && task.observations.includes("INCIDENCIA: ")
                  ? task.observations.split("INCIDENCIA: ")[0]
                  : task.observations
              }}</strong>
            </p>
          </div>
          <div *ngIf="task.observations == ''" class="m-4 ml-12">
            <p class="text-center">Sin Observaciones</p>
          </div>
          <div class="flex justify-between">
            <button
              (click)="incidence(this.task)"
              mat-raised-button
              color="warn"
              title="Informar de una incidencia."
            >
              <div>
                &nbsp; <span>Incidencia</span>
                <mat-icon
                  *ngIf="
                    !task.observations ||
                    !task.observations.includes('INCIDENCIA: ')
                  "
                  style="font-size: 16px !important"
                  >add</mat-icon
                >
                <mat-icon
                  *ngIf="
                    task.observations &&
                    task.observations.includes('INCIDENCIA: ')
                  "
                  style="font-size: 16px !important"
                  >edit</mat-icon
                >
              </div>
              <mat-icon class="icon-list-position">error</mat-icon>
            </button>
            <button
              mat-raised-button
              *ngIf="this.task.status === 'Pendiente'"
              (click)="changeTaskStatus(this.task)"
              class="boton-nuevo"
              title="Marcar tarea como 'Finalizada'"
            >
              &nbsp; Finalizada
              <mat-icon class="icon-list-position">done</mat-icon>
            </button>
            <button
              mat-raised-button
              class="yellow"
              *ngIf="this.task.status !== 'Pendiente'"
              (click)="changeTaskStatus(this.task)"
              style="color: white !important"
              title="Marcar como 'Pendiente'"
            >
              &nbsp; Pendiente
              <mat-icon class="icon-list-position">rotate_left</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div
    class="w-full flex items-center justify-center gap-2"
    *ngIf="this.dataSource.length !== 0"
  >
    <button
      mat-raised-button
      class="flex items-center justify-center p-10 w-full"
      color="primary"
      title="Completar tareas programadas para hoy."
      (click)="completeTaskList(this.dataSource)"
    >
      <mat-icon class="icon-list-position">done_all</mat-icon>&nbsp; Enviar
    </button>
  </div>

  <div
    role="status"
    class="w-full flex items-center justify-center"
    *ngIf="isLoading"
  >
    <svg
      aria-hidden="true"
      class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
      viewBox="0 0 100 101"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
        fill="currentColor"
      />
      <path
        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
        fill="currentFill"
      />
    </svg>
    <span class="sr-only">Cargando...</span>
  </div>
</div>
<div *ngIf="this.dataSource.length === 0">
  <h3>Ha terminado todas sus tareas para hoy.</h3>
</div>
<div
  class="w-4/5 mx-auto bg-[#01161e] text-white rounded px-10 py-1 pt-3 mt-2"
  *ngIf="this.dataSource.length > 0"
>
  <p>
    <strong>Info: </strong>Una vez complete todas sus tareas para hoy pulse el
    botón&nbsp;&nbsp;
    <mat-icon style="vertical-align: middle">done_all</mat-icon>
    &nbsp;&nbsp;&nbsp;para enviar.
  </p>
  <div class="flex items-center py-1 max-sm:block text-center">
    <mat-icon
      class="text-[#4ed469]"
      style="font-size: 20px; vertical-align: middle"
      >fiber_manual_record</mat-icon
    >
    Tarea &nbsp;<strong class="text-[#4ed469]">finalizada</strong>
    <br class="max-xs:hidden" />
    <br class="max-xs:hidden" />

    <div>
      <span
        ><mat-icon
          class="text-orange-500"
          style="font-size: 20px; vertical-align: middle"
          >fiber_manual_record</mat-icon
        >
        Tarea &nbsp;<strong class="text-orange-500">pendiente</strong></span
      >
    </div>
  </div>
</div>
