h1 {
  text-shadow: 0.1em 0.02em 0.2em rgba(0, 0, 0, 0.25);
  font-size: 5rem;
  letter-spacing: 0.25em;
  text-align: center;
  margin-bottom: 4%;
  color: #01161e;
}

h3 {
  text-shadow: 0.05em 0.05em 0.4em rgba(0, 0, 0, 0.25);
  font-size: 1.5rem;
  letter-spacing: 0.25em;
  text-align: center;
  margin-top: 4%;
  margin-bottom: 2%;
}

@media (max-width: 640px) {
  h1 {
    font-size: 3rem;
    letter-spacing: 0.25em;
  }

  h3 {
    font-size: 1rem;
    letter-spacing: 0.15em;
  }
}
