<h4 class="text-center">Sesión iniciada como {{userData.email}} -  <span *ngIf="userData.roleAdmin">Administrador</span><span *ngIf="!userData.roleAdmin">Usuario</span></h4>
<div class="flex flex-col w-fulljustify-center mt-10">
    <div class="titulo">
      <h1>NOVOTEL</h1>
      <h3>HOTELS, SUITES & RESORTS</h3>
      <h3><div>
        <h2>Notificaciones Recibidas:</h2>
        <ul>
          <li *ngFor="let notification of notifications">{{ notification }}</li>
        </ul>
      </div></h3>
    </div>
    <div class="image-container flex justify-center">
      <!-- Añade la clase justify-center para centrar horizontalmente -->
      <img src="../../../../assets/source/plano.jpeg" alt="Imagen" class="image mr-2" />
      <img src="../../../../assets/source/plano.jpeg" alt="Imagen" class="image" style="transform: rotate(180deg)" />
    </div>
  </div>
  <footer>
    <img src="../../../assets/source/logo.png" alt="" class="h-8">
  </footer>
