.position{
  position: relative;
  top:2px;
  left: -2px;
}
.boton-nuevo{
  background-color: #e54646;
  border-radius: 60px;
  color: white !important;
}
.boton-tareas{
  background-color: #5946e5;
  border-radius: 60px;
  color: white !important;
}
.beige{
  background-color: #eff6e0;
}
